<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <body class="p-3">
        <%- include("partials/header.ejs") %>
        <main>
            <header>
                <h2 class="fs-4 mb-3">
                    The secret word is: 
                    <span class="badge text-bg-secondary fs-6">
                        <%= secretWord %>
                    </span>
                </h2>
            </header>
            <form method="POST">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="secretWord">
                        Change Secret Word:&nbsp;
                    </label>
                    <input type="text" id="secretWord" name="secretWord" class="form-control" />
                 </div>
                 <button type="submit" class="btn btn-primary">
                     Submit
                 </button>
             </form>
         </main>
         <%- include("partials/footer.ejs") %>
    </body>
</html>